*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
.container {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: auto;
}

.cat-image {
    background-color: grey;
    padding: 20px;
    text-align: center;
    margin-right: 10px;
    border-radius: 70px;

}
.cat-image img {
    width: 100%;
    height: auto;
    margin-bottom: 10px; 
}
@media screen and (max-width: 768px) {
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 375px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
    }
}