nav {
    background-color: #30363d;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
nav > div {
    display: inline-block;
    color: aliceblue;
}
nav ul li {
    display: inline-block;
    color: aliceblue;
    margin-right: 10px; 
}
nav h1, nav ul {
    display: inline-block;
    color: aliceblue;
}
nav ul li a {
    text-decoration: none;
    color: grey
}
nav ul li a[href="white"] {
    color: white;
}
nav div:nth-child(2) button {
    background-color: transparent;
    border: 1px solid green;
    color: green;
    border-radius: 5px;
}
nav div:nth-child(2) button:hover {
    background-color: green;
    color: white;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
}
.dropdown:hover .dropdown-content {
    display: block;
    background-color: #30363d;
}
nav > div input[type="text"] {
    border-radius: 5px;
}
.menu-hamburger {
display: none;
flex-direction: column;
gap: 0.2rem;
cursor: pointer;
}

@media screen and (max-width: 768px) {
    nav > div ul,
    nav > div input[type="text"],
    nav > div button {
        display: none;
    }

    nav > .menu-hamburger {
        display: flex;
    }

    nav h1 {
        display: inline-block;
    }
    .menu-hamburger {
        position: relative;
        top: auto;
        right: auto;
        margin-top: 10px;
    }
    nav h1 {
        display: inline-block;
        margin-right: auto; /
    }
}

.menu-hamburger div {
width: 30px;
height: 3px;
background: white;
}